<div class="col-lg-8">

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Code formation</td>
                <td>{{formation.codeFormation}}</td>
            </tr>
            <tr>
                <td>Diplome</td>
                <td>{{formation.diplome}}</td>
            </tr>
            <tr>
                <td>Numéro année</td>
                <td>{{formation.numeroAnnee}}</td>
            </tr>
            <tr>
                <td>Nom formation</td>
                <td>{{formation.nomFormation}}</td>
            </tr>
            <tr>
                <td>Double diplomation</td>
                <td>{{formation.estUnDoubleDiplome}}</td>
            </tr>
            <tr>
                <td>Début accréditation</td>
                <td>{{formation.debutAccreditation}}</td>
            </tr>
            <tr>
                <td>Fin accréditation</td>
                <td>{{formation.finAccreditation}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>